body {
  background: #fcfcfc;
}

.wrapper {
  box-sizing: border-box;
  width: 768px;
  height: 868px;
  margin: auto;
  text-align: center;

  background: #ffffff;
  border: 1px solid #bccab0;
  border-radius: 6px;
}
