body {
  background: #fcfcfc;
}

.wrapper {
  box-sizing: border-box;
  position: relative;
  width: 768px;
  height: 868px;
  margin: auto;
  text-align: center;

  background: white;
  border: 1px solid var(--background);
  border-radius: 6px;
}

.map-buttons {
  position: absolute;
  z-index: 10;
  right: 20px;

  border: 1px solid var(--primary);
  background: white;
  border-radius: 6px;
  filter: drop-shadow(1px 3px 1px rgba(0, 0, 0, 0.15));

  cursor: pointer;
}

.reset-button {
  bottom: 126px;
  width: 30px;
  height: 30px;
}

.button-group {
  bottom: 54px;
  width: 30px;
  height: 60px;
  overflow: hidden;
}

.zoom-buttons {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.map-buttons-icon {
  color: var(--primary);
  font-size: large;
  margin-top: 6px;
  stroke-width: 1px;
}

.map-buttons-icon:hover {
  stroke-width: 2px;
  color: var(--primary-bold);
}

.info-button {
  bottom: 12px;
  right: 22px;
  width: 26px;
  height: 26px;
  border-radius: 15px;
}

.info-button-icon {
  margin-top: 3px;
}

.info-button-icon:hover {
  font-size: larger;
  color: var(--primary-bold);
}

.score-box {
  position: absolute;
  z-index: 10;
  left: 294px;
  top: 22px;

  box-sizing: border-box;
  width: 180px;
  height: 50px;
  border-radius: 8px;

  font-weight: 700;
  font-family: "Grandstander";
  font-style: normal;

  background-color: var(--scores-background);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.score {
  position: absolute;
  top: 7px;
  left: 24px;

  color: var(--scores-primary);
  font-size: 45px;
  line-height: 45px;
}

.score-text {
  position: absolute;
  top: 21px;
  left: 49px;

  font-size: 18px;
  line-height: 20px;
  color: var(--scores-secondary);
  letter-spacing: -0.07em;
}

.timer-box {
  position: absolute;
  z-index: 10;
  top: 27px;
  right: 20px;

  box-sizing: border-box;
  width: 138px;
  height: 40px;
  border-radius: 8px;

  color: var(--primary);
  background-color: var(--scores-background);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-icon {
  font-size: larger;
}

.timer-segments {
  margin-left: 3px;
  display: flex;
}

.timer-segments > div {
  width: 6px;
  height: 12px;
  border: 1px solid var(--primary);
  border-radius: 4px;

  margin-left: 2px;
}

.passed-segment {
  background: white;
}

.avaiable-segment {
  background: var(--primary);
}
