:root {
  --background: #bccab0;
  --primary: #6c9a8a;
  --primary-bold: #5b8e7d;
  --secondary: #f5a258;
  --scores-primary: #bc4b51;
  --scores-secondary: #d18186;
  --scores-background: #f4ecc3;
  --modal-title: #c35d63;
  --modal-highlight: #c96f74;
  --modal-text: #4d8f79;
  --modal-button-text: #5b8e7d;
  --modal-button-background: #f4e285;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}