.svg-path {
  fill: #B9C7AD; 
  stroke: white; 
  stroke-width: 0.5px; 
  stroke-linecap: round; 
  stroke-linejoin: round;
}

.svg-path:hover {
  fill: #F5A258;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
}